<!DOCTYPE html>
<head>
<base href="/template">
<link rel="stylesheet" type="text/css" href="css/temp.css">
<!-- load jquery and global js scripts -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/script_head.js"></script>
<!-- <script src="js/script_encryption.js"></script> -->

<title>Simple Student Templating Solutions</title>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <li id="friends"><a href="/friends">Chats</a></li>
  <li><a href="/about">About</a></li>
</ul>
</p>
<center>
  <!-- <h2>Simple Student Templating Solutions</h2> -->


<!-- <h3><i>Because the usability is more important than the back end for now.</i></h3> -->
