<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="main">
		<div class="overlay"></div>
		<div class="navbar">
			<div class="logo">
                <img src="img/usyd.png">
            </div>
		</div>
		<div class="heading">
				<h1 class="head">WELCOME TO THE SCHOOL OF COMPUTER SCIENCE <span>KNOWLEDGE REPOSITORY</span></h1>
                <h3 class="sub">
                    <div class="container">
                        <div class="typed-out">See coursework before you commit!  Meet new peers! Contribute and read student resources!</div>
                    </div>
                    <!-- <div id="scroll-text">See coursework before you commit!  Meet new peers! Contribute and read student resources!
                    </div> -->
                </h3>
				<div class="btns">
					<a class="btn1" href="/login">LOGIN</a>
					<a class="btn2" href="/register">REGISTER</a>
				</div>	
		</div>
	</div>	
</body>
</html>