<center>
<div class="login-section">
<p class="prompt">
WELCOME BACK! Login with a username and password
</p>

<p id="login-validity"></p>

<p>
    <form id=login-form action="/login" method="post">
        Username: <input id="username" name="username" type="text" />
    </br>
        Password: <input id="password" name="password" type="password" />
    </br>
        <input id="login-button" value="Login" type="submit"/>
    </form>
</p>
</div>

<!-- <script type="text/javascript"> window.data = "{{!data}}" </script> -->
<!-- <script src="js/bundle.js"></script> -->

<!-- <script>
    document.getElementById("testing").innerHTML = "SCRIPT IN HTML:" + "{{data}}";
</script> -->
<!-- <script src="js/key_gen.js"></script> -->

<script src="js/login_check_bundle.js"></script>
<script>
    window.sessionStorage.setItem("isAdmin", "{{!is_admin}}")
</script>
</center>

