<div class="register-section">

    <p class="prompt">
    Register with a username and password
    </p>
    <p id="register-validity"></p>

    <p>
        <form id='register-form' action="/register" method="post">
            Username: <input id="username" name="username" type="text" />
        </br>
            Password: <input id="password" name="password" type="password" />
        </br>
            <input value="Register" type="submit" />
        </form>
    </p>
</div>

<div class="loader" style="display: none;">
    <div class="circle-spin"></div>
</div> 

<script src="js/register_check_bundle.js"></script>
</center>

